@mixin circle($position, $bgc, $padding, $width, $height, $lh) {
    position: $position;
    border-radius: 50%;
    background-color: $bgc;
    color: set-text-color($bgc);
    padding: $padding;
    width: $width;
    height: $height;
    line-height: $lh;
    transition: $transition-speed1;
}