@mixin circle($position, $bgc, $padding, $width, $height, $lh) {
    position: $position;
    border-radius: 50%;
    background-color: $bgc;
    color: set-text-color($bgc);
    padding: $padding;
    width: $width;
    height: $height;
    line-height: $lh;
    transition: $transition-speed1;
    text-align: center;
}

// Display - extend
%displg4-shared {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}