@import 'config';
@import 'utilities';
@import 'functions';

// General styles
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
    color: set-text-color(#fff);
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

// Logo
#logo {
    max-width: 170px;
    // width: 70px;
    // height: 70px;
    color: #fff;
    text-transform: uppercase;
}

// Main nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;

        li {
            padding: 1rem 1.5rem;

            a {
                color: #fff;
                text-transform: uppercase;
                // to show up later on hover bdb now is transparency
                border-bottom: 3px solid transparent;
                padding-bottom: .5rem;
                transition: border-color .5s;

                &:hover {
                    border-color: $medium-color;
                }

                &.current {
                    border-color: $main-color;
                }
            }
        }
    }
}

// Header
#header {

    // Header home
    &-home {
        background: $bg-image no-repeat center center/cover;
        height: 100vh;
        color: set-text-color(#3E5672);

        // Heder content
        .header-content {
            text-align: center;
            padding-top: 20%;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }

    // Header-inner
    &-inner {}
}

// Home Sections

#home {

    // Home Section A
    &-a {
        .specials {
            @extend %displg4-shared;
            // display: grid;
            // grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
            margin-top: 3rem;

            .fas {
                color: $main-color;
                padding-bottom: .4rem;
            }
        }
    }

    // Home Section B
    &-b {
        .stats {
            @extend %displg4-shared;
            // display: grid;
            // grid-template-columns: repeat(4, 1fr);

            li {
                line-height: 2;

                &.stats-title {
                    font-size: 1.5rem;
                }

                &.stats-number {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            div {
                padding: 3rem 0;

                &:nth-child(odd) {
                    background-color: $light-color;
                }

                &:nth-child(even) {
                    background-color: $medium-color;
                }
            }
        }
    }
}